*{
box-sizing:border-box;
margin:0;
padding:0;
}


body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial;

background:
radial-gradient(circle,#700000,#050505);

overflow:hidden;

}



.machine{

position:relative;

width:650px;

padding:40px;

background:
linear-gradient(#222,#050505);


border:6px solid gold;

border-radius:40px;


text-align:center;


box-shadow:

0 0 40px gold,
0 0 120px orange;

}



h1{

font-size:60px;

color:#ffd700;

text-shadow:

0 0 20px gold;

}



.subtitle{

color:white;

letter-spacing:6px;

margin-bottom:40px;

}




.slot-area{

display:flex;

justify-content:center;

gap:20px;


background:black;

padding:30px;


border-radius:25px;

border:3px solid #777;

}



.reel{


width:120px;

height:120px;


display:flex;

justify-content:center;

align-items:center;


font-size:70px;


background:#111;


border:4px solid gold;


border-radius:20px;


box-shadow:

inset 0 0 30px black;

}



.spinning{

animation:

roll .12s infinite;

}



@keyframes roll{


50%{

transform:translateY(20px);

}


}




.lever{

position:absolute;

right:-90px;

top:220px;

width:80px;

height:200px;

}



.stick{

width:15px;

height:130px;

background:silver;

margin:auto;

}



.ball{

width:55px;

height:55px;

background:red;

border-radius:50%;

margin:auto;

box-shadow:

0 0 20px red;

}



.pull{

animation:

pull .5s;

}



@keyframes pull{


50%{

transform:rotate(45deg);

}


}




button{


margin-top:40px;

padding:20px 70px;


font-size:30px;

font-weight:bold;


border-radius:50px;

border:none;


background:

linear-gradient(gold,orange);


cursor:pointer;


box-shadow:

0 0 30px gold;

}




#message{

margin-top:25px;

font-size:35px;

color:gold;

}



.counter{

margin-top:20px;

color:white;

font-size:25px;

}



.progress{

margin-top:20px;

height:25px;

background:#333;

border-radius:20px;

overflow:hidden;

border:2px solid gold;

}



#progressBar{

height:100%;

width:0%;


background:

linear-gradient(90deg,gold,orange);


transition:1s;

}
